<div class="hero-unit">
  <h2>Tasks</h2>
  <table class="tasks_table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% Task.order("created_at DESC").each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.text %></td>
          <td><%= task.status %></td>
          <td><%= link_to "edit", edit_task_path(task) %> <%= link_to "delete", task_path(task), :method => "delete" %></td>
        </tr>
      <% end -%>
    </tbody>
    <tfoot>
      <tr>
        <td colspan='4'><%= link_to "Create new task", new_task_path %></td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="hero-unit"><h2>Comments</h2> <br />
  <table class="tasks_table zebra-striped">
    <thead>
      <tr>
        <th>Text</th>
        <th>File</th>
      </tr>
    </thead>
    <tbody>
      <% Comment.order('created_at DESC').each do |comment| %>
        <tr>
          <td><%= comment.text %></td>
          <td>
            <% if comment.file.present? -%>
              <%= link_to image_tag('FileFolder.jpg'), comment.file.url %>
            <% end -%>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <%= form_for @comment do |f| -%>
      <%= f.text_area :text, :size => "10x10" %>
      <%= f.file_field :file %> <br /> <br />
      <%= f.submit %>
  <% end -%></div>

